.multipleSelectDiv{
	width: auto;
	background-color: powderblue;
	//position:fixed;
	position:absolute;
	display: none;
}
.multipleSelectDiv span{
	display: block;
	line-height: 15px;
	width: 145px;
	font-weight: bold;
	color: black;
}