/*For Text Box */
.textfield1{
	background:#1f262d;
	border:1px solid #a5a5a5;
	color:orange;
	width:100%;
	height:30px;
	outline:none;
	padding:0px 1% 0px 1%;
	margin:0px;
	font:normal 18px/40px bahamas,"Verdana", "Geneva", "sans-serif", "Georgia", "serif";
}
textarea{
	font:normal 18px/40px bahamas,"Verdana", "Geneva", "sans-serif", "Georgia", "serif";
	color:orange;
	background:#1f262d;
}
.textfield2{
	background:#1f262d;
	border:1px solid #a5a5a5;
	color:orange;
	width:200px;
	height:30px;
	outline:none;
	padding:0px 1% 0px 1%;
	margin:0px;
	font:normal 18px/40px bahamas,"Verdana", "Geneva", "sans-serif", "Georgia", "serif";
}
.textfield3{
	background:#1f262d;
	border:1px solid #a5a5a5;
	color:orange
	width:350px;
	height:30px;
	outline:none;
	padding:0px 1% 0px 1%;
	margin:0px;
	font:normal 18px/40px bahamas,"Verdana", "Geneva", "sans-serif", "Georgia", "serif";
}

.midsec {
	margin:0 auto 15px;
	border:1px solid orange;
	background-color:#99FF66;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	overflow:hidden;
	overflow-x:scroll;
	min-height:20px;
	margin-top: 20px;
	align: center;
	white-space: nowrap;
	font-family: bahamas;
}
.midsec tr{
	padding:0 2%;
	font:normal 18px/40px bahamas,"Verdana", "Geneva", "sans-serif", "Georgia", "serif";
	text-align:left;
	border-bottom: 1px solid #C4C4C4;
	text-transform:capitalize;
}
.midsec tr td{
	width: 250px;
	padding:0 10px;
	color: black;
	font-family: bahamas;
}
.midsec tr th{
	width: 120px;
	padding:0 10px;
	color: #000080;
	font-family: bahamas;
}
.multipleSelectDiv{
	width: auto;
	background-color: powderblue;
	position:absolute;
	display: none;
	margin-top: -0.9%;
	font-family: bahamas;
}
.multipleSelectDiv span{
	display: block;
	line-height: 15px;
	width: 210px;
	font-weight: bold;
	color: black;
	font-family: bahamas;
}


select.defaultselect {
	background:#1f262d;
	border:1px solid #a5a5a5;
	color:black;
    height: 27px;
    line-height: 22px;
    padding: 3px 5px;
    width: 100%;
    font-family: bahamas;
}
.defaultselect option {
    color: black;
    font-family: bahamas;
}

.midsec1 {
	margin:0 auto 15px;
	border:1px solid #c4c4c4;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	min-height:20px;
	margin-top: 20px;
	align: center;
	white-space: nowrap;
	font-family: bahamas;
}
.midsec1 tr{
	padding:0 2%;
	font:normal 18px/51px bahamas,"Verdana", "Geneva", "sans-serif", "Georgia", "serif";
	color: #000080;
	text-align:left;
	border-bottom: 1px solid #C4C4C4;
	text-transform:capitalize;
}
.midsec1 tr td{
	padding:0 10px;
	border-bottom: 1px solid #C4C4C4;
	font-family: bahamas;
}
.midsec1 tr th{
	color:black;
	font-weight: bold;
	font-style: oblique;
	text-align: center;
	padding:0 10px;
	border-bottom: thick;
	border-bottom-style: double;
	border-bottom-color: black;
	font-family: bahamas;
}
.midsec1 tr:nth-child(odd){
	background-color: #99FF66;
}

.midsec1 tr:nth-child(even){
	background-color: #66CC33;
}

input[type=radio].css-checkbox {
	display:none;
}
input[type=radio].css-checkbox + label.css-label {
	padding-left:20px;
	height:19px; 
	display:inline-block;
	line-height:19px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:16px;
	vertical-align:middle;
	cursor:pointer;
	width: 45%;	
	font-family: bahamas;
}

input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -19px;
}
label.css-label {
	background-image:url(radio.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: bahamas;
}


label.css-label {
	background-image: url(/icam/images/radio.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: bahamas;
}

@media (max-width: 1000px){
	.multipleSelectDiv{
		margin-top: -1.5%;
	}
	.textfield3{
		width:200px;
	}
	.textfield2{
		width:50px;
	}
}

@media (max-width: 720px){
	.multipleSelectDiv{
		margin-top: -1.5%;
	}
	.textfield3{
		width:200px;
	}
	.textfield2{
		width:50px;
	}
}


@media (max-width: 480px){
	.multipleSelectDiv{
		margin-top: -4%;
	}
	.textfield3{
		width:100px;
	}
	.textfield2{
		width:50px;
	}
	input[type=radio].css-checkbox + label.css-label {
	width: 20%;
}
}