@charset "utf-8";

/*For Text Box */
.textfield2{
	background:#1f262d;
	border:1px solid #a5a5a5;
	width:100px;
	height:30px;
	color:orange;
	outline:none;
	padding:0px 1% 0px 1%;
	margin:0px;
	font:normal 18px/40px bahamas,"Verdana", "Geneva", "sans-serif", "Georgia", "serif";
}

select.defaultselect {
	background:#1f262d;
	border:1px solid #a5a5a5;
	color:orange;
    height: 27px;
    line-height: 22px;
    padding: 3px 5px;
    width:250px;
    font:normal 18px/40px bahamas,"Verdana", "Geneva", "sans-serif", "Georgia", "serif";
}
.defaultselect option {
    color: orange;
    font:normal 18px/40px bahamas,"Verdana", "Geneva", "sans-serif", "Georgia", "serif";
}
.midsec {
	margin:0 auto 15px;
	border:1px solid orange;
	background-color:#99FF66;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	overflow:hidden;
	overflow-x:scroll;
	min-height:20px;
	margin-top: 20px;
	align: center;
	white-space: nowrap;
}
.midsec tr{
	padding:0 2%;
	font:normal 18px/40px bahamas,"Verdana", "Geneva", "sans-serif", "Georgia", "serif";
	text-align:left;
	border-bottom: 1px solid #C4C4C4;
	text-transform:capitalize;
}
.midsec tr td{
	width: 230px;
	padding:0 10px;
	color: black;
}
.midsec tr th{
	width: 120px;
	padding:0 10px;
	border-bottom: 1px solid #C4C4C4;
	color: black;
}
.fieldsetClass{
	background:#fff;
	border:1px solid #a5a5a5;
	width:20%;
	height:120px;
	font:normal 14px/40px bahamas,"Verdana", "Geneva", "sans-serif", "Georgia", "serif";
	color:#cccccc;
	outline:none;
	padding:0px 1% 0px 1%;
	margin:0px;
	float :right;
}

.fieldsetClassForHoliday{
	background-color:#CC3300;
	width:10%;
	height:10px;
	outline:none;
	margin:0px;
}

.fieldsetClassForWorkingday{
	background-color:#99FF99;
	width:10%;
	height:10px;
	outline:none;
	margin:0px;
}
/* For calendar */
#wrap {
	width: 1200px;
	margin: 0 auto;
	float: center;
}
		
#calendar {
	float: center;
	width: 1000px;
}
	/* Tooltip */
.tooltipClass{
	/* border:2px solid #a1a1a1;
	padding:10px 40px; */
	z-index:1;float:right;
	font:normal 12px/40px bahamas,"Verdana", "Geneva", "sans-serif", "Georgia", "serif";
	weight:bold;
	position:absolute;
	background:#CCCCCC;
	opacity:0.6; 
	width:150%;
	height:200%;
	border-radius:25px;
	/* box-shadow: 10px 10px 5px #00BFFF; */
	text-align:left;
	z-index:-1;
	color: #000000;
}

/* Holiday */

.holiday {
    border-color: black;     /* border color */
    color: black;           /* text color */
    background-size:16px 16px;
    background-position:right;
    }
 .compensate {
   
    border-color: black;     /* border color */
    color: black;           /* text color */
    background-size:16px 16px;
    background-position:right;
    }
    
/* popup_box DIV-Styles*/
#dialog {
     display:none; /* Hide the DIV */  
    position:absolute;  
    _position:absolute; /* hack for internet explorer 6 */  
    height:40%;  
    width:40%;  
    background:#ADD8E6;  
    left: 520px;
    top: 150px;
    z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left : 15px;  
   
    /* additional features, can be omitted */
      border:2px solid #00BFFF;      
      padding:15px;  
      font-size:0.9em;  
      -moz-box-shadow: 0 0 5px #00BFFF;
      -webkit-box-shadow: 0 0 5px #00BFFF;
      box-shadow: 0 0 5px #00BFFF;
     
  }
  
  .submitbtnIndividual{
	background:#f74d4d;
	width:73px;
	height:28px;
	font:normal 12px/40px bahamas,"Verdana", "Geneva", "sans-serif", "Georgia", "serif";
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	border:0px;
	outline:none;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:0px;
	margin:10px 0px 0px 10px;
	float:left;
}

#external-events {
		float: top;
		width: 220px;
		padding: 0 10px;
		border: 1px solid #ccc;
		background: #eee;
		text-align: left;
 }
	
		
#external-events h4 {
	font-size: 16px;
	margin-top: 0;
	padding-top: 1em;
	}
	
.external-event { /* try to mimick the look of a real event */
	margin: 10px 0;
	padding: 2px 4px;
	background: #3366CC;
	color: #fff;
	font-size: .85em;
	cursor: pointer;
	}
	
#external-events p {
	margin: 1.5em 0;
	font-size: 11px;
	color: #666;
	}
	
#external-events p input {
	margin: 0;
	vertical-align: middle;
	}

 .multipleSelectDiv{
	width: auto;
	background-color: powderblue;
	//position:fixed;
	position:absolute;
	display: none;
	margin-top: -10px;
	z-index: 1;
}
.multipleSelectDiv span{
	display: block;
	line-height: 15px;
	width: 200px;
	font-weight: bold;
	color: black;
}

#comformation {
    display:none; /* Hide the DIV */  
    position:absolute;  
    _position:absolute; /* hack for internet explorer 6 */  
    height:20%;  
    width:30%;  
    background:#ADD8E6;  
    left: 520px;
    top: 150px;
    z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left : 15px;  
   
    /* additional features, can be omitted */
    border:2px solid #00BFFF;      
    padding:15px;  
    font-size:0.9em;  
    -moz-box-shadow: 0 0 5px #00BFFF;
    -webkit-box-shadow: 0 0 5px #00BFFF;
    box-shadow: 0 0 5px #00BFFF;
       
    }
    
    #comformationForDrop{
     display:none; /* Hide the DIV */  
    position:absolute;  
    _position:absolute; /* hack for internet explorer 6 */  
    height:20%;  
    width:30%;  
    background:#ADD8E6;  
    left: 520px;
    top: 150px;
    z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left : 15px;  
   
    /* additional features, can be omitted */
    border:2px solid #00BFFF;      
    padding:15px;  
    font-size:0.9em;  
    -moz-box-shadow: 0 0 5px #00BFFF;
    -webkit-box-shadow: 0 0 5px #00BFFF;
    box-shadow: 0 0 5px #00BFFF;
    }
