@charset "utf-8";

/*For Text Box */
.textfield1{
	background:#1f262d;
	border:1px solid #a5a5a5;
	color:orange;
	width:100%;
	height:30px;
	outline:none;
	padding:0px 1% 0px 1%;
	margin:0px;
	font-family: bahamas;
	font-size: large;
}
.textfield2{
	background:#1f262d;
	border:1px solid #a5a5a5;
	color:orange;
	width:200px;
	height:30px;
	outline:none;
	padding:0px 1% 0px 1%;
	margin:0px;
	font-family: bahamas;
	font-size: large;
}
.textfield3{
	background:#1f262d;
	border:1px solid #a5a5a5;
	color:orange;
	width:350px;
	height:30px;
	outline:none;
	padding:0px 1% 0px 1%;
	margin:0px;
	font-family: bahamas;
	font-size: large;
}
.childDateOfBirthClass{
	background:#1f262d;
	border:1px solid #a5a5a5;
	color:orange;
	width:200px;
	height:30px;
	outline:none;
	padding:0px 1% 0px 1%;
	margin:0px;
	font-family: bahamas;
	font-size: large;
}


.midsec {
	margin:0 auto 15px;
	border:1px solid orange;
	background-color:#99FF66;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	overflow:hidden;
	overflow-x:scroll;
	min-height:20px;
	margin-top: 20px;
	align: center;
	white-space: nowrap;
	font-family: bahamas;
	font-size: large;
}
.midsec tr{
	padding:0 1.5%;
	font:normal 16px/40px bahamas,"Verdana", "Geneva", "sans-serif", "Georgia", "serif";
	text-align:left;
	border-bottom: 1px solid #C4C4C4;
	text-transform:capitalize;
	font-size: large;
}
.midsec tr td{
	width: auto;
	padding:0 5px;
	color: black;
	font-family: bahamas;
	font-size: large;
}
.midsec tr th{
	width: 100px;
	padding:0 5px;
	color: #000080;
	font-family: bahamas;
	font-size: large;
}
.multipleSelectDiv{
	width: auto;
	background-color: powderblue;
	position:absolute;
	display: none;
	margin-top: -0.9%;
	font-family: bahamas;
	font-size: smaller;
}
.multipleSelectDiv span{
	display: block;
	line-height: 15px;
	width: 210px;
	font-weight: bold;
	color: black;
	font-family: bahamas;
	font-size: smaller;
}

select.defaultMultipleSelect{
	background:#1f262d;
	border:1px solid #a5a5a5;
	color:orange;
    height: 60px;
    line-height: 22px;
    padding: 3px 5px;
    width: 80%;
    font-family: bahamas;
    font-size: smaller;
}

.txtarea{
	background:#1f262d;
	border:1px solid #a5a5a5;
	width:250px;
	color:orange;
	outline:none;
	padding:0px 1% 0px 1%;
	margin:0px;
	font-family: bahamas;
	font-size: large;
}

select.defaultselect {
	background:#1f262d;
	border:1px solid #a5a5a5;
	color:orange;
    height: 27px;
    line-height: 22px;
    padding: 3px 5px;
    width: 100%;
    font-family: bahamas;
    font-size: smaller;
}
.defaultselect option {
    color: orange;
    font-family: bahamas;
    font-size: smaller;
}

.midsec1 {
	margin:0 auto 10px;
	border:1px solid #c4c4c4;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	min-height:20px;
	margin-top: 20px;
	align: center;
	white-space: nowrap;
	font-family: bahamas;
	font-size: large;
}
.midsec1 tr{
	padding:0 1.5%;
	font:normal 16px/40px bahamas, "Verdana", "Geneva", "sans-serif", "Georgia", "serif";
	color: #000080;
	text-align:left;
	border-bottom: 1px solid #C4C4C4;
	text-transform:capitalize;
	font-size: large;
}
.midsec1 tr td{
	padding:0 5px;
	border-bottom: 1px solid #C4C4C4;
	font-family: bahamas;
	font-size: large;
}
.midsec1 tr th{
	color:black;
	font-weight: bold;
	font-style: oblique;
	text-align: center;
	padding:0 5px;
	border-bottom: thick;
	border-bottom-style: double;
	border-bottom-color: black;
	font-family: bahamas;
	font-size: large;
}
.midsec1 tr:nth-child(odd){
	background-color: #99FF66;
}

.midsec1 tr:nth-child(even){
	background-color: #66CC33;
}

@media (max-width: 1000px){
	.multipleSelectDiv{
		margin-top: -1.5%;
	}
	.textfield3{
		width:200px;
	}
	.textfield2{
		width:50px;
	}
}

@media (max-width: 720px){
	.multipleSelectDiv{
		margin-top: -1.5%;
	}
	.textfield3{
		width:200px;
	}
	.textfield2{
		width:50px;
	}
}


@media (max-width: 480px){
	.multipleSelectDiv{
		margin-top: -4%;
	}
	.textfield3{
		width:100px;
	}
	.textfield2{
		width:50px;
	}
	
	
}



  /* for subject type pop up */
        #tempDetails {
      	display:none; /* Hide the DIV */  
        position:absolute;  
        _position:absolute; /* hack for internet explorer 6 */  
        height:30%;  
        width:50%;  
        background-color:#ADD8E6;  
        left: 280px;
        top: 150px; 
        z-index:200; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
        margin-left : 15px; 
       // margin-top :0%; 
       /*  overflow:auto; */
        /* additional features, can be omitted */
        border:2px solid #00BFFF;      
        padding:15px;  
        font-size:0.9em;  
        -moz-box-shadow: 0 0 5px #00BFFF;
        -webkit-box-shadow: 0 0 5px #00BFFF;
        box-shadow: 0 0 5px #00BFFF;
       
    }
    
    
     .submitBtnForPopUp{
	background:#f74d4d;
	width:100px;
	height:28px;
	font:bold 12px/28px "Arial", Helvetica, sans-serif;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	border:0px;
	outline:none;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:0px;
	margin:10px 0px 0px 10px;
	float:right;
}

.presentedOnClass{
	background:#1f262d;
	border:1px solid #a5a5a5;
	color:orange;
	width:200px;
	height:30px;
	outline:none;
	padding:0px 1% 0px 1%;
	margin:0px;
	font-family: bahamas;
	font-size: large;
}

.trainingDate{
	background:#1f262d;
	border:1px solid #a5a5a5;
	color:orange;
	width:180px;
	height:30px;
	outline:none;
	padding:0px 1% 0px 1%;
	margin:0px;
	font-family: bahamas;
	font-size: large;;
}