.textfield{
	background:#1f262d;
	border:1px solid #a5a5a5;
	width:220px;
	height:30px;
	color:orange;
	outline:none;
	padding:0px 1% 0px 1%;
	margin:0px;
	font:normal 18px/40px bahamas,"Verdana", "Geneva", "sans-serif", "Georgia", "serif";
}

select.defaultMultipleSelect1{
	background:#1f262d;
	border:1px solid #a5a5a5;
	color:orange;
    height: 60px;
    line-height: 22px;
    padding: 3px 5px;
    width: 200px;
    font:normal 18px/40px bahamas,"Verdana", "Geneva", "sans-serif", "Georgia", "serif";
}

select.defaultMultipleSelect2{
	background:#1f262d;
	border:1px solid #a5a5a5;
	color:orange;
    height: 60px;
    line-height: 22px;
    padding: 3px 5px;
    width: 200px;
    font:normal 18px/40px bahamas,"Verdana", "Geneva", "sans-serif", "Georgia", "serif";
}
.midsec1 {
	margin:0 auto 10px;
	border:1px solid #c4c4c4;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	min-height:20px;
	margin-top: 20px;
	white-space: nowrap;
	font:normal 18px/40px bahamas,"Verdana", "Geneva", "sans-serif", "Georgia", "serif";
}
.midsec1 tr{
	padding:0 1.5%;
	font:normal 18px/40px bahamas,"Verdana", "Geneva", "sans-serif", "Georgia", "serif";
	text-align:left;
	border-bottom: 1px solid #C4C4C4;
	text-transform:capitalize;
	color: #000080;
}
.midsec1 tr td{
	padding:0 5px;
	border-bottom: 1px solid #C4C4C4;
	font:normal 18px/40px bahamas,"Verdana", "Geneva", "sans-serif", "Georgia", "serif";
}
.midsec1 tr th{
	color:black;
	font-weight: bold;
	font-style: oblique;
	padding:0 5px;
	border-bottom: thick;
	border-bottom-style: double;
	border-bottom-color: black;
	font:normal 18px/40px bahamas,"Verdana", "Geneva", "sans-serif", "Georgia", "serif";
}

.midsec1 tr:nth-child(odd){
	background-color: #99FF66;
}

.midsec1 tr:nth-child(even){
	background-color: #66CC33;
}